@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  color: #333333;
  font-family: "Source Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --c-accent: #9d789a;
  --c-links: #9d789a;
}

a {
  color: var(--c-links);
}
